<div class="d-flex align-items-center justify-content-center">
  <h1 class="display-5 subheader">Register</h1>
</div>

<hr>

<div class="d-flex align-items-center justify-content-center mt-3 text-muted">
  <h4 class="text-muted">Already a registered user? <%= link_to "Login here!",new_session_path %></h4>
</div>

<div class="container">
  <%= form_with model: @user, local: true, data: { turbo: false}, class: "container", url: registration_path, method: :post do |form| %>
  

    <div class="mb-3">
    <%= form.label :first_name, class: "required text-muted" %>
    <%= form.text_field :first_name, class: "form-control", required: true, placeholder: "First Name" %>
    </div>

    <div class="mb-3">
    <%= form.label :last_name, class: "required text-muted" %>
    <%= form.text_field :last_name, class: "form-control", required: true, placeholder: "Last Name" %>
    </div>

    <div class="mb-3">
    <%= form.label :email, class: "required text-muted" %>
    <%= form.email_field :email, class: "form-control", required: true, placeholder: "Email" %>
    </div>

    <div class="mb-3">
    <%= form.label :password, class: "required text-muted" %>
    <%= form.password_field :password, class: "form-control", required: true, placeholder: "Password" %>
    </div>

    <div class="mb-3">
    <%= form.label :password_confirmation, class: "required text-muted" %>
    <%= form.password_field :password_confirmation, class: "form-control", required: true, placeholder: "Password" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Register", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>